.containers {
  display: flex;
}

.big-container {
  width: 800px;
  height: 900px;
  padding: 30px;
  margin: 20px;
  border: 3px solid #0000;
  border-radius: 30px;
  background: linear-gradient(#101623, #101623) padding-box,
    linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%) border-box;
  box-shadow: 1px 1px 15px 0px rgba(254, 255, 247, 0.41);
}

.nav-section {
  display: flex;
  justify-content: flex-end;
  margin: -31px;
}

.nav-links {
  display: flex;
  background-color: #ddd;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 25px;
  gap: 80px;
  border: 3px solid #0000;
  background: linear-gradient(#101623, #101623) padding-box,
    linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%) border-box;
  box-shadow: 1px 1px 15px 0px rgba(254, 255, 247, 0.41);
}
