body {
  background-color: #101623;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  margin-top: 40px;
}

.side-section {
  font-size: 30px;
  text-align: center;
  width: 271px;
  height: 600px;
  padding: 30px;
  margin: 20px;
  border: 3px solid #0000;
  border-radius: 30px;
  background: linear-gradient(#101623, #101623) padding-box,
    linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%) border-box;
  margin-left: 90px;
}
.personal-picture {
  width: 150px;
  height: 150px;
  border-radius: 25px;
}
.side-section-title {
  font-size: 25px;
  padding: 20px;
  font-weight: bold;
}

.side-section-subtitle {
  font-size: 18px;
  padding-bottom: 30px;
}
.button {
  border: 3px solid transparent;
  border-radius: 30px;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%)
    border-box;
  width: 200px;
  height: 50px;
  font-size: 18px;
  color: #ffffff;
  box-shadow: 1px 1px 15px 0px rgba(254, 255, 247, 0.41);
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 20px 2px rgba(255, 255, 255, 0.5);
}

.button:active {
  transform: translateY(1px);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 45px;
}

.contact-content {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  font-size: 10px;
}

.contact-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.contact-title {
  font-size: 13px;
  font-weight: bold;
}

.contact-description {
  font-size: 13px;
}
